body {
  display: flex;
  justify-content: center;
  align-items: center;   /* centers vertically */
  min-height: 100vh;     /* full screen height */
  background-color: rgb(27, 26, 26);
  margin: 0;
}

.card {
  background: linear-gradient(150deg, rgb(138, 138, 255), rgb(132, 255, 132));
  width: 450px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;   /* stack children vertically */
  align-items: center;
  text-align: center;
}

/* Search section */
.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search input {
  flex: 1;
  height: 35px;
  border: 0;
  outline: 0;
  border-radius: 20px;
  text-align: center;
  margin-right: 10px;
}

.search button {
  height: 35px;
  padding: 0 15px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  transition: 0.3s;
}

.search button:hover {
  background-color: #ddd;
}

/* Weather section */
.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather img {
  height: 90px;
  margin-top: 20px;
}

.weather h1,
.weather h2 {
  color: white;
  margin: 5px 0;
  
}
.weather h1{
    font-size: 80px;
    font-weight: 550;
}
.weather h2{
    font-size: 30px;
    font-weight: 400;
}

/* Details section */
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin-top: 20px;
}

.col {
  display: flex;
  align-items: center;
  color: white;
}

.col img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.humidity,.wind{
font-size: 20px;
font-weight: 200;
margin-top: -6px;
}
